# https://github.com/github/linguist/#generated-code

.git*     linguist-vendored
.gr       linguist-vendored
UTIL/*    linguist-vendored
*.md      linguist-documentation
imclust   linguist-generated
